.authentication-container {
  display: flex;
  width: 900px;
  justify-content: space-between;
  margin: 30px auto;
  padding: 30px;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
  }
}
