.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  padding: 30px;


  a {
    padding-right: 5px;
    font-size: 18px;
    font-weight: 600;
  }

  p {
    font-size: 18px;
    font-weight: 600;
    padding-left: 5px;
  }

  a:hover {
    color: rgb(31, 23, 105);
  }
}
