@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(224, 207, 207);
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
